---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Garrett McAvoy">
    <div class = "engineering-content">
        <p class = "years">2024</p>
    </div>
</Layout>
<style>
    .engineering-content {
        position: absolute;
        top: 2.5rem;
        left: 20rem;
        padding: 0rem;
    }

    .engineering-content p {
        margin-top: 0;
        margin-bottom: 0rem;
    }

    .years {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>