---
import Layout from '../layouts/Layout.astro'; // Import the layout component
---

<Layout title="Garrett McAvoy">
  <div class="container">
  </div>
</Layout>

<style>
  .container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%; /* Adjust the height as needed */
  }
  .dwg {
    width: 40rem;
  }
</style>